scikit-learn
Pillow
pydantic
pydantic-settings
transformers==4.51.3
numpy
python-dotenv
tqdm
tabulate
ftfy
texify
rapidfuzz
surya-ocr
filetype
regex
pdftext
grpcio
fastapi
uvicorn
pypdfium2
moviepy
openai-whisper
pytube
beautifulsoup4
html2text
selenium
webdriver-manager
img2pdf
matplotlib
timm
flash-attn
art
gradio
nltk
marker-pdf==0.2.16